{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Saeed Rostami - Django Developer 🐍</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- Jquery -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- stylesheet -->
		<link rel="stylesheet" href="{%static 'css/main.css' %}"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<noscript><link rel="stylesheet" href="{%static 'css/noscript.css' %}"/></noscript>
	</head>
	<body  >
					
    <!-- Navbar -->
  {% include 'partials/_navbar.html' %}                  
                    <!--main-->
                    <div id="main">

{% block content %} {% endblock content %}
						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2> Hello World , Im Saeed </h2>
										</header>
										<p>I edjucated Software Enginering and I Like codes and Solving Problem </br> 
										 (by <a href="https://stackoverflow.com" >stackoverflow </a>). What is second one? Playing puzzle games. This people mostly are not into Frontend development
										 like me.
										</p>
									</div>
									<span class="image"><img src="{% static 'img/pic01.jpg' %}" alt="" /></span>
								</div>
							</section>

						<!-- First Section -->
							<section id="Skills" class="main special">
								<header class="major">
									<h2>Favorites Skills</h2>
								</header>
								<ul class="features">
									<li>
										<span class="icon solid major style1 fa-code"></span>
										<h3>Python</h3>
										<p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
									</li>
									<li>
										<span class="icon major style3 fa-copy"></span>
										<h3>Django Web Devlopment</h3>
										<p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
									</li>
									<li>
										<span class="icon major style5 fa-gem"></span>
										<h3>Front End Technologies</h3>
										<p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
									</li>
								</ul>
								<footer class="major">
								</footer>
							</section>

						<!-- Second Section -->
  <!-- Footer -->
    {% include 'partials/_footer.html' %}
  

</div>
			<script src="{%static 'js/jquery.min.js' %}"></script>
			<script src="{%static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{%static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{%static 'js/browser.min.js' %}"></script>
			<script src="{%static 'js/breakpoints.min.js' %}"></script>
			<script src="{%static 'js/util.js' %}"></script>
			<script src="{%static 'js/main.js' %}"></script>
	</body>
</html>
